@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme{
  --color-primary: #051220;
  --color-secondary: #4865E9;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
}