@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #161F2F;
  --color-secondary: #1E2939;
}

* {
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  font-family: "Comic Neue", cursive;
  background-color: var(--color-primary);
  overflow-x: hidden;
}
